*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.box2{
    width: 300px;
    height: 150px;
    background-image: url("image.png");
    background-repeat: repeat-x;
    margin: 20px;
}