*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.box1{
    width: 200px;
    height: 200px;
    background-image: url("image.png");
    margin: 20px;
}