*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.box3{
    width: 250px;
    height: 250px;
    background-image: url("image.png");
    background-repeat: repeat-y;
    margin: 20px;
}