*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.parent{
    width: 800px;
    height: 600px;
    background-image: url("big.png");
    background-repeat: no-repeat;
    margin: 30px;
    padding: 20px;
}

.child{
    width: 300px;
    height: 300px;
    background-image: url("small.png");
    background-repeat: no-repeat;
}