*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 700px;
    height: 700px;
    border: 1px solid red;
    background-image: url("image.png");
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.bottom-right{
    background-position: bottom right;
}

.top-right{
    background-position: top right;
}

.bottom-center{
    background-position: bottom center;
}

.center{
    background-position: center;
}
