@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fjalla+One&family=Momo+Signature&display=swap');


h1{
    text-decoration: underline red;
} 

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.p1{
    text-decoration: underline overline dashed;
}

.p2{
    text-decoration: underline overline line-through wavy blue;
}

h2{
    text-decoration: line-through double red;
}

h3{
    text-decoration: underline overline dotted violet;
}

.lower{
    text-transform: lowercase;
    text-decoration: underline wavy green;
}

.upper{
    text-transform: uppercase;
    text-decoration: overline dotted blue;
}

.capital{
    text-transform: capitalize;
    text-decoration: underline overline double purple;
}

.font1{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 4px red;
}

.font2{
    font-family: "Momo Signature", cursive;
}

.font3{
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}


button{
        background-color: white;
        color: black;
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
}

button:hover{
        background-color: blue;
        color: white;
        border: 2px solid red;
        border-radius: 20px;
}

.hover-text {
        font-size: 18px;
}

.hover-text:hover {
        text-decoration-line: underline overline;
        text-decoration-style: dotted;
        text-decoration-color: red;
        font-size: 22px;
        text-shadow: 3px 3px 5px red;
}


.active-btn {
        background-color: white;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 6px;
    }


.active-btn:active{
        background-color: green;
        color: violet;
        border: 2px solid yellow;
        border-radius: 25px;
}

a {
        text-decoration: underline blue;
        color: black;
        font-size: 20px;
        transition: 0.3s;
    }

a:hover {
        color: violet;
        text-decoration-line: overline;
        text-decoration-style: wavy;
        text-decoration-color: violet;
}

a:active {
        color: red;
        text-decoration: none;
}


.shadow-text {
        font-size: 24px;
        font-weight: bold;
        text-shadow: 4px 4px 5px red;
        transition: 0.4s;
}

.shadow-text:active {
        text-shadow: -4px -4px 5px violet;
}