table{
  border-collapse: collapse;
  width: 600px;
  text-align: center;
  font-family: Arial, sans-serif;
}

th{
  background-color: #2ca02c;
  color: black;
  padding: 10px;
  border: 3px solid black;
}

td{
  border: 3px solid #000;
  padding: 8px;
}

tr:nth-child(odd){
  background-color: #14a2af;
}

