* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
}

button {
    border-radius: 15px;
    background-color: green;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    position: sticky;
    top: 100px; 
    bottom: 50px;
}
