@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 360px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.card-header {
  height: 140px;
  background: url("images/bg-pattern-card.svg");
  display: flex;
  justify-content: center;
}


.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid white;
}

.card-body {
  padding: 20px 0;
}

.card-body h1 {
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

.card-body h1 span {
  color: hsl(227, 10%, 46%);
  margin-left: 8px;
  font-weight: 400;
}

.card-body p {
  color: hsl(227, 10%, 46%);
  font-size: 14px;
  margin-top: 5px;
}

.card-stats {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid hsl(225, 10%, 92%);
}

.stat h2 {
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

.stat p {
  font-size: 12px;
  color: hsl(227, 10%, 46%);
  letter-spacing: 1px;
}
