div h1 b{
    color: red;
    background-color: green;
    font-size: 12px;
    text-align: left;
}

div h1 i{
    color: blue;
    background-color: blueviolet;
    font-size: 11px;
    text-align: center;
}

div h1 em{
    color: yellowgreen;
    background-color: aqua;
    font-size: 10px;
    text-align: right;
}

div h1 u{
    color: yellow;
    background-color: violet;
    font-size: 13px;
    text-align: left;
}

div h1 strong{
    color:tomato;
    background-color: brown;
    font-size: 14px;
    text-align: center;
}