@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

a{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: overline dashed red;
}

a:visited{
    color: orange;
    font-size: 10px;
    text-decoration: none;
    font-family: 'Momo Trust Display', sans-serif;
}