*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    width: 200px;
    height: 100px;
}


.first{
    border: 2px solid orange;
    padding: 30px 50px;
}

.second{
    border: 4px solid violet;
    padding: 10px 5px 20px 15px;
}