@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  width: 750px;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.first-photo {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.text-box {
  padding: 35px;
  color: hsl(217, 19%, 35%);
}

.text-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

.desc {
  color: hsl(214, 17%, 51%);
  font-size: 14px;
  margin-bottom: 25px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-weight: 700;
}

.date {
  color: hsl(212, 23%, 69%);
  font-size: 13px;
}

.share {
  margin-left: auto;
  border: none;
  background: hsl(210, 46%, 95%);
  padding: 10px;
  border-radius: 50%;
}

.share img {
  width: 16px;
}
