*{
    box-sizing: border-box;
}

.box{
    border: 1px solid #000;
    margin: 15px 0;
}

.task5{
    width: 300px;
    height: 200px;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: contain;
}