*{
    box-sizing: border-box;
}

.box{
    border: 1px solid #000;
    margin: 15px 0;
}

.task8{
    width: 500px;
    height: 300px;
    background-image: url("image.png");
    background-repeat: repeat-x;
    background-position: left top;
}