*{
    box-sizing: border-box;
}

.box{
    border: 1px solid #000;
    margin: 15px 0;
}

.task7{
    width: 500px;
    height: 300px;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}