*{
    box-sizing: border-box;
}

.box{
    border: 1px solid #000;
    margin: 15px 0;
}

.task9{
    width: 600px;
    height: 200px;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: right center;
}