*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #2f3a40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

a{
    text-decoration: none;
    color: white;
}