*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
  position: relative;
  width: 500px;
  height: 300px;
}

.green {
  background: green;
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.blue {
  background: blue;
  width: 300px;
  height: 150px;
  position: absolute;
  left: 60px;
  top: 20px;
  z-index: 2;
}

.red {
  background: red;
  width: 300px;
  height: 150px;
  position: absolute;
  left: 120px;
  top: 60px;
  z-index: 3;
}