*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}