.car-table {
    border-collapse: collapse;
    border: 4px solid black;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.car-table td {
    padding: 10px 5px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 24px;
}

.car-table tr:nth-child(1) td {
    background-color: #794c4c;
    font-size: 36px;
}

.car-table tr:nth-child(1) td:nth-child(1) {
    color: red;
}

.car-table tr:nth-child(1) td:nth-child(2) {
    color: purple;
}

.car-table tr:nth-child(1) td:nth-child(3) {
    color: red;
}

.car-table tr:nth-child(2) td {
    background-color: red;
}

.car-table tr:nth-child(2) td:nth-child(1) {
    color: yellow;
}

.car-table tr:nth-child(2) td:nth-child(2) {
    color: purple;
}

.car-table tr:nth-child(2) td:nth-child(3) {
    color: red;
}

.car-table tr:nth-child(3) td {
    background-color: #00ffff;
}

.car-table tr:nth-child(3) td:nth-child(1) {
    color: red;
}

.car-table tr:nth-child(3) td:nth-child(2) {
    color: purple;
}

.car-table tr:nth-child(3) td:nth-child(3) {
    color: red;
}

.car-table tr:nth-child(4) td {
    background-color: red;
}

.car-table tr:nth-child(4) td:nth-child(1) {
    color: yellow;
}

.car-table tr:nth-child(4) td:nth-child(2) {
    color: purple;
}

.car-table tr:nth-child(4) td:nth-child(3) {
    color: red;
}