*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 320px;
  padding: 16px 16px 25px 16px;
  text-align: center;
  display:flex;
  gap: 19px;
  flex-direction: column;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}


.first{
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.second{
  color: grey;
  font-size: 14px;

}

