.first{
    color: green;
}

.first-input{
    background-color: violet;
    border-radius: 10px;
    color: red;
    box-shadow: 0px 2px 3px violet;
}

.second{
    color: red;
    font-size: 25px
}

.second-input{
    background-color: yellow;
    border-radius: 5px;
    color: violet;
    border: 1px solid skyblue;
    box-shadow: 2px 3px 4px blue;
}

.third{
    color: blue;
}

.third-input{
    background-color: orange;
    border-radius: 7px;
    color: blue;
    box-shadow: 2px 3px 5px violet orange;
}