*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first{
    background-color: red;
    width: 200px;
    height: 200px;
}

.second{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-top: 50px;
}