body {
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      flex-direction: column; 
      align-items: center;
      gap: 20px; 
    }

    .square {
      width: 100px;
      height: 100px;
      background-color: orange;
    }

    .circle {
      width: 100px;
      height: 100px;
      background-color: darkred;
      border-radius: 50%;
    }

    .rounded {
      width: 100px;
      height: 60px;
      background-color: yellow;
      border-radius: 15px;
    }