body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img{
    width: 200px;
    animation-name: spin;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(10000deg);
    }
}