*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
}

div{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    background: blue;
    color: white;
    border-radius: 8px;
}