*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 5px 8px;
    font-size: 12px;
}